body {
  background-color: #00BFFF;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-div {
  padding-bottom: 50px;
}

#centered-content {
  align-self: center;
  width: 100%;
}

#sub {
  min-height: 100px;
  min-width: 100px;
  /*background-image: url("../images/impact.gif");*/
  /*background-image: url("../images/submarine.jpg");*/
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

#ship {
  min-height: 100px;
  min-width: 100px;
  /*background-image: url("../images/impact.gif");*/
  /*background-image: url("../images/ship.jpg");*/
  background-size: 100px 100px;
  background-repeat: no-repeat;

}

#impact {
  height: 100px;
  width: 100px;
  background-image: url("../images/impact.gif");
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.active {
  background-image: url("../images/torpedo.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.#player0track .active {
  background-image: url("../images/yellow_car.jpeg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

#player1track .active {
  background-image: url("../images/green_car.jpeg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.center {
  text-align: center;
}

#start {
  height: 35px;
}

#restart {
  height: 35px;
}

/*+++++++ Canvas ++++++++++ */
