* {
  margin: 0px;
}

body{
  font-family: arial;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/beach_dawn.jpg');
  height: 100vh;
  background-size: cover;
}

header h1 {
  color: white;
}

header h3 {
  color: white;
}

p {
  margin: 0 0 10px;
}

.header_box {
  margin: 100px auto;
  border: 1px solid white;
  text-align: center;
}

.content {
  width: 92%;
  margin: 0 auto;
  padding-top: 20px;
}

.blog_heading {
  border: 1px solid green;
  justify-content: center;
  display: flex;
}

.inner_blog_heading {
  border: 1px solid pink;
}

.blog_entries {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.inner_div {
  margin: 0 auto;
  border: 1px solid blue;
  text-align: center;
}

@media only screen and (min-width: 40em) {
  .blog_entries {
    background-color: pink;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .inner_div {
    width: 40%;
  }
}

@media only screen and (min-width: 50em) {
  .inner_div {
    width: 25%;
  }
}

/* Graveyard

.row {
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
*/