
body{
  font-family: arial;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  background-image: url('../images/beach_dawn.jpg');
  height: 100vh;
  background-size: cover;
  margin-bottom: 50px;
}

#header h1 {
  color: black;
}

#header h3 {
  color: black;
}


#content {
  width: 600px;
  margin: 0 auto 20px;

}

* {
  margin: 0px;
}


